html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

:root {
  --primary-color-bl: #222120;
  --primary-color-wh: #f8f3ed;
  --font-color-wh: #faf5ef;
  --font-color-bl: #222120;
  --gray: #faf5ef;
  --primary-font: "Prata";
  --secondary-font: "DM Sans";
  --title-font-size: 70px;
  --text-font-size: 24px;
  --nav-font-size: 18px;
}

h1,
h2,
h3,
h4,
h5 {
  overflow: break-word;
}

body {
  font-family: var(--secondary-font);
  background-color: var(--primary-color-bl);
  -webkit-font-smoothing: antialiased;
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
}

.container {
  max-width: 1300px;
  padding: 0 15px;
  margin: 0 auto;
}

.title-main-wh {
  font-size: 82px;
  font-weight: 400;
  line-height: 81px;
  color: var(--primary-color-wh);
  font-family: var(--primary-font);
}

.title-wh {
  font-size: 70px;
  font-weight: 400;
  line-height: 76px;
  color: var(--primary-color-wh);
  font-family: var(--primary-font);
}

.title-bl {
  font-size: 70px;
  font-weight: 400;
  line-height: 76px;
  color: var(--primary-color-bl);
  font-family: var(--primary-font);
}

.title-sub {
  font-size: 52px;
  font-weight: 400;
  line-height: 61px;
  color: var(--primary-color-bl);
  font-family: var(--primary-font);
}

.header-title {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  color: var(--primary-color-bl);
  font-family: var(--primary-font);
}

.text-item {
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  color: var(--primary-color-bl);
  font-family: var(--secondary-font);
  opacity: 0.7;
}

.cl-bl {
  font-family: var(--secondary-font);
  color: var(--primary-color-bl);
}

.cl-wh {
  font-family: var(--secondary-font);
  color: var(--primary-color-wh);
}

.header_text-item {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #fff;
  font-family: var(--secondary-font);
  opacity: 0.6;
  display: inline-block;
  max-width: 400px;
  margin-left: 90px;
}

.nav-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: var(--gray);
  font-family: var(--secondary-font);
  transition: 0.2s ease;
  opacity: 0.4;
}

.btn-text {
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  text-decoration: underline;
  color: var(--gray);
  font-family: var(--primary-font);
  transition: 0.2s ease;
}

.footer-text {
  font-size: 60px;
  font-weight: 400;
  line-height: 72px;
  color: var(--primary-color-bl);
  font-family: var(--primary-font);
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.navbar-btn {
  background: transparent;
  border: none;
  color: var(--primary-color-wh);
}
.navbar-btn a {
  cursor: pointer;
}
.navbar-item:hover {
  list-style: disc;
  color: var(--primary-color-wh);
}
.navbar-item:hover a {
  opacity: 1;
}
.navbar-toggle {
  display: none;
}

.header-images {
  margin-bottom: -5px;
}
.header-line {
  max-width: 1600px;
}
.header-logo {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(0, 78px);
}
.header-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  padding: 30px 0;
}
.header-mid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: 130px;
  gap: 20px;
}
.header-motto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.header-motto_img {
  margin-left: 90px;
}
.header-motto_title-down {
  margin-left: 140px;
}
@media screen and (max-width: 767px) {
  .header .navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    gap: 90px;
    width: 300px;
    background-color: var(--primary-color-wh);
    z-index: 999;
    transform: translateX(100%);
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    pointer-events: none;
    border-radius: 20px 0 20px 0;
  }
  .header .navbar.active {
    transform: translateX(0);
  }
  .header .navbar-item {
    margin-right: auto;
    margin-left: 20px;
  }
  .header .navbar-item:hover {
    color: black;
  }
  .header .navbar-link {
    color: var(--primary-color-bl);
    font-size: 35px;
  }
  .header .navbar-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .header .navbar-toggle {
    background: transparent;
    border: none;
    width: 40px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    margin-left: 20px;
    cursor: pointer;
  }
  .header .navbar-toggle span {
    pointer-events: none;
    background-color: var(--primary-color-wh);
  }
  .header .navbar-toggle span:nth-child(1) {
    width: 15px;
    height: 4px;
  }
  .header .navbar-toggle span:nth-child(2) {
    width: 30px;
    height: 4px;
  }
  .header-mid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    align-items: flex-start;
    margin-bottom: 57px;
  }
  .header-images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    position: relative;
    margin-bottom: 80px;
  }
  .header-images img:nth-child(1) {
    align-self: stretch;
    max-width: 330px;
  }
  .header-logo {
    bottom: 30px;
    right: 0;
    left: auto;
    max-width: 150px;
    max-height: 188px;
    transform: none;
  }
  .header-motto {
    align-items: flex-start;
  }
  .header-motto h1 {
    font-size: 46px;
    line-height: 1.2173913043;
  }
  .header-motto p {
    font-style: 18px;
  }
  .header-motto span,
.header-motto img,
.header-motto p {
    margin-left: 0;
  }
}

.about-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color-wh);
  padding: 260px 0 147px 0;
}

.main-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 150px;
  gap: 230px;
}
.main-1_title {
  width: 100%;
  max-width: 388px;
}
.main-1_desc {
  max-width: 638px;
}

.main-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 140px;
}
.main-2_desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 130px;
  gap: 40px;
}
.main-2_img {
  color: var(--primary-color-bl);
}

@media screen and (max-width: 1023px) {
  .about-us {
    padding: 100px 0 147px 0;
  }

  .main-1 {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 70px;
  }

  .main-2 {
    flex-direction: column;
    gap: 70px;
    align-items: center;
    margin-bottom: 70px;
  }
  .main-2_desc {
    margin-top: 70px;
    text-align: center;
  }
  .main-2_desc p {
    font-size: 36px;
    line-height: 1.1666666667;
  }
  .main-2 img {
    max-width: 396px;
    max-height: 561px;
  }
}
.projects {
  background: var(--primary-color-wh);
}
.projects-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 519px;
  padding-top: 120px;
  margin-bottom: 60px;
}
.projects-heading_title {
  width: 100%;
  max-width: 619px;
  font-size: 70px;
  line-height: 1.0857142857;
}
.projects-heading_child {
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  font-family: var(--primary-font);
  text-decoration: underline;
  color: var(--primary-color-bl);
}
.projects-item {
  position: relative;
}
.projects-img img {
  width: 100%;
  max-height: 712px;
  object-fit: cover;
}
.projects-desc {
  position: absolute;
  bottom: 0;
  transform: translate(168px, -65px);
}
.projects-desc h2 {
  font-size: 50px;
  line-height: 1.24;
  color: var(--primary-color-wh);
  font-weight: 500;
  font-family: var(--secondary-font);
  margin-bottom: 10px;
}
.projects-desc p {
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  color: var(--primary-color-wh);
  font-family: var(--primary-font);
  text-decoration: underline;
}
@media screen and (max-width: 1023px) {
  .projects-heading {
    gap: 73px;
    padding-top: 60px;
  }
  .projects-heading_title {
    font-size: 46px;
    line-height: 1.1304347826;
  }
  .projects-desc {
    transform: translate(16px, -17px);
  }
  .projects-desc h2 {
    font-size: 32px;
    line-height: 1.0666666667;
  }
  .projects-desc p {
    font-size: 18px;
  }
}

.design {
  padding-top: 160px;
}
.design-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 140px;
}
.design-main_desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  gap: 30px;
}
.design-main_desc p:nth-child(2) {
  margin-top: 25px;
}
.design-main_desc a {
  font-family: var(--primary-font);
  text-decoration: underline;
}
@media screen and (max-width: 1023px) {
  .design {
    padding-top: 120px;
  }
  .design-main {
    gap: 70px;
    flex-direction: column;
  }
  .design-main_desc h2 {
    font-size: 46px;
    line-height: 1.2173913043;
  }
  .design-main_desc p,
.design-main_desc a {
    font-size: 18px;
    line-height: 1.6666666667;
  }
  .design-main img {
    max-width: 396px;
  }
}

.blog {
  background: var(--primary-color-wh);
  padding: 170px 0;
}
.blog-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: center;
}
.blog-main h2 {
  margin-bottom: 55px;
}
.blog-btn {
  font-family: var(--primary-font);
  text-decoration: underline;
  font-weight: 600;
  margin-bottom: 160px;
}
.blog-articles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}
.blog-articles_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  gap: 30px;
}
.blog-articles_item-h3 {
  margin-top: 35px;
}
.blog-articles_info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 536px;
}
.blog-articles_info a {
  text-decoration: underline;
  font-size: 22px;
  font-weight: 500;
}
.blog-articles_info p {
  font-size: 18px;
}
@media screen and (max-width: 1023px) {
  .blog {
    padding: 120px 0;
  }
  .blog-main h2 {
    margin-bottom: 30px;
  }
  .blog-title {
    font-size: 46px;
    line-height: 1.2173913043;
  }
  .blog a {
    font-size: 18px;
    margin-bottom: 60px;
  }
  .blog-articles {
    flex-direction: column;
    gap: 80px;
  }
  .blog-articles h3 {
    font-size: 20px;
    line-height: 1.5;
  }
  .blog-articles img {
    max-width: 396px;
  }
  .blog-articles_item {
    gap: 20px;
  }
  .blog-articles_info a {
    margin-bottom: 0;
    font-style: normal;
    letter-spacing: -0.02em;
  }
  .blog-articles_info P {
    font-size: 15px;
    opacity: 0.5;
    line-height: 1.8;
  }
}

.footer {
  color: var(--primary-color-wh);
}
.footer-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: center;
}
.footer-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}
.footer-btn p {
  color: #999393;
  font-size: 24px;
  line-height: 32px;
  font-weight: 400px;
  font-family: var(--primary-font);
  opacity: 1;
}
.footer-btn button {
  background: transparent;
  margin-bottom: 10px;
  border: none;
}
.footer-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}
.footer-main_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
}
.footer-main_info h4 {
  margin-bottom: 70px;
  font-family: var(--primary-font);
}
.footer-main_contact {
  margin-bottom: 50px;
}
.footer-main_contact span {
  position: relative;
  font-size: 30px;
  line-height: 1.1333333333;
  padding-left: 30px;
}
.footer-main_contact span::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background: var(--primary-color-wh);
  border-radius: 50%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.footer-main_contact p:nth-child(1) {
  font-size: 30px;
  line-height: 1.1333333333;
}
.footer-main_contact p:nth-child(2) {
  font-size: 60px;
  line-height: 1.1666666667;
  font-family: var(--primary-font);
  margin-top: 20px;
  opacity: 0.6;
}
.footer-copyright {
  margin-top: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.footer-copyright p {
  color: #999393;
}
.footer-img-mobile {
  display: none;
}
@media screen and (max-width: 1023px) {
  .footer-btn button,
.footer-btn p {
    display: none;
  }
  .footer-footer-img-mobile {
    display: block;
  }
  .footer-main {
    flex-direction: column;
  }
  .footer-main_contact p:nth-child(2) {
    font-size: 36px;
    line-height: 1.1666666667;
  }
  .footer-main_contact span {
    font-size: 24px;
    line-height: 1.4166666667;
  }
  .footer-main_info h4 {
    font-size: 30px;
    line-height: 1;
    margin-top: 80px;
  }
  .footer-main img {
    max-width: 396px;
  }
  .footer-line {
    margin-top: 60px;
  }
  .footer-copyright {
    margin-top: 0;
    padding: 36px 0;
  }
  .footer-copyright img {
    display: none;
  }
  .footer-img-mobile {
    display: block;
  }
}

.access {
  position: fixed;
  right: 10px;
  top: 80%;
}
.access-wrapper {
  display: block;
  width: 50px;
  height: 50px;
}
.access-btn-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.access-checkbox {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  left: 0;
  z-index: 99;
}
.access-checkbox:checked ~ .access-content {
  transform: scale(1);
  opacity: 1;
}
.access-checkbox:checked ~ .access-icon .access-icon-wrapper {
  background: rgba(13, 13, 13, 0.6);
}
.access-checkbox:checked ~ .access-icon .access-icon-wrapper .access-icon-btn::after {
  transform: translate(-50%, -50%) rotate(-135deg);
  border: 2px solid white;
  background: white;
}
.access-checkbox:checked ~ .access-icon .access-icon-wrapper .access-icon-btn::before {
  transform: translate(-50%, -50%) rotate(135deg);
  border: 2px solid white;
  background: white;
}
.access-icon {
  position: absolute;
  width: 100%;
  height: 100%;
}
.access-icon-wrapper {
  display: block;
  border-radius: 50%;
  transition: all 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  background-color: white;
  height: 100%;
  box-shadow: 2px 2px 2px grey;
}
.access-icon-btn {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  border: none;
  background: none;
}
.access-icon-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 25px;
  transform: translate(-50%, -50%);
  border: 2px solid grey;
  background: grey;
  transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.access-icon-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 25px;
  transform: translate(-50%, -50%) rotate(90deg);
  border: 2px solid grey;
  background: grey;
  transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.access-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  right: 80px;
  top: -250%;
  height: 200%;
  transition: 0.4s ease-in-out;
  background-color: bisque;
  width: 136px;
  transform: scale(0);
  opacity: 0;
  border-radius: 10px;
  padding: 5px;
  user-select: none;
  transition: ease 0.3s;
}
.access-content a {
  text-decoration: none;
  color: black;
}
.access-content a:nth-child(-n+2) {
  border-bottom: 1px solid grey;
}
.access-content a:hover {
  background-color: rgb(201, 163, 117);
}