.about-us {
  @include flex-column;
  background-color: var(--primary-color-wh);
  padding-top: 300px;
}

.main-1 {
  @include flex-row;
  margin-bottom: 170px;
  gap: 230px;

  &_title {
    font-style: normal;
  }
}

.main-2 {
  @include flex-row;
  margin-bottom: 170px;
  gap: 140px;

  &_desc {
    @include flex-column;
    margin-top: 130px;
    gap: 40px;
  }

  &_img {
    color: var(--primary-color-bl);
  }
}
