.footer {
  color: var(--primary-color-wh);

  &-body {
    @include flex-column;
    align-items: center;
  }

  &-btn {
    @include flex-column;
    margin-top: 80px;

    & p {
      color: #999393;
      font-size: 24px;
      line-height: 32px;
      font-weight: 400px;
      font-family: var(--primary-font);
      opacity: 1;
    }
    & button {
      background: transparent;
      margin-bottom: 10px;
      border: none;
    }
  }

  &-main {
    @include flex-row;
    gap: 80px;

    &_info {
      @include flex-column;
      align-items: flex-start;

      & h4 {
        margin-bottom: 70px;
        font-family: var(--primary-font);
      }
    }

    &_contact {
      margin-bottom: 50px;

      & span {
        position: relative;
        font-size: 30px;
        line-height: calc(34 / 30);
        padding-left: 30px;

        &::before {
          position: absolute;
          content: "";
          width: 10px;
          height: 10px;
          background: var(--primary-color-wh);
          border-radius: 50%;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      & p:nth-child(1) {
        font-size: 30px;
        line-height: calc(34 / 30);
      }

      & p:nth-child(2) {
        font-size: 60px;
        line-height: calc(70 / 60);
        font-family: var(--primary-font);
        margin-top: 20px;
        opacity: 0.6;
      }
    }
  }

  &-copyright {
    margin-top: 150px;
    @include flex-row;
    width: 100%;
    justify-content: space-between;
    & p {
      color: #999393;
    }
  }
  &-footer-img-mobile {
    display: none;
  }

  @include maxw(1023px) {
    &-btn {
      & button,
      p {
        display: none;
      }
    }
    &-footer-img-mobile {
      display: block;
    }

    &-main {
      align-items: center;
      flex-direction: column;

      &_contact {
        & p:nth-child(2) {
          font-size: 36px;
          line-height: calc(42 / 36);
        }

        & span {
          font-size: 24px;
          line-height: calc(34 / 24);
        }
      }

      &_info {
        & h4 {
          font-size: 30px;
          line-height: calc(30 / 30);
          margin-top: 80px;
        }
      }

      & img {
        max-width: 396px;
      }
    }

    &-line {
      margin-top: 60px;
    }

    &-copyright {
      margin-top: 0;
      padding: 36px 0;
      & img {
        display: none;
      }
    }
  }
}
