.footer {
  color: var(--primary-color-wh);

  &-body {
    @include flex-column;
    align-items: center;
  }

  &-btn {
    @include flex-column;
    margin-top: 80px;

    & p {
      color: #999393;
      font-size: 24px;
      line-height: 32px;
      font-weight: 400px;
      font-family: var(--primary-font);
      opacity: 1;
    }
    & button {
      background: transparent;
      margin-bottom: 10px;
      border: none;
    }
  }

  &-main {
    @include flex-row;
    gap: 80px;

    &_info {
      @include flex-column;
      align-items: flex-start;

      & h4 {
        margin-bottom: 70px;
        font-family: var(--primary-font);
      }
    }

    &_contact {
      margin-bottom: 50px;

      & span {
        position: relative;
        font-size: 30px;
        line-height: calc(34 / 30);
        padding-left: 30px;

        &::before {
          position: absolute;
          content: "";
          width: 10px;
          height: 10px;
          background: var(--primary-color-wh);
          border-radius: 50%;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      & p:nth-child(1) {
        font-size: 30px;
        line-height: calc(34 / 30);
      }

      & p:nth-child(2) {
        font-size: 60px;
        line-height: calc(70 / 60);
        font-family: var(--primary-font);
        margin-top: 20px;
        opacity: 0.6;
      }
    }
  }

  &-copyright {
    margin-top: 150px;
    @include flex-row;
    width: 100%;
    justify-content: space-between;
    & p {
      color: #999393;
    }
  }

  &-img-mobile {
    display: none;
  }

  @include maxw(1023px) {
    &-btn {
      & button,
      p {
        display: none;
      }
    }
    &-footer-img-mobile {
      display: block;
    }

    &-main {
      flex-direction: column;

      &_contact {
        & p:nth-child(2) {
          font-size: 36px;
          line-height: calc(42 / 36);
        }

        & span {
          font-size: 24px;
          line-height: calc(34 / 24);
        }
      }

      &_info {
        & h4 {
          font-size: 30px;
          line-height: calc(30 / 30);
          margin-top: 80px;
        }
      }

      & img {
        max-width: 396px;
      }
    }

    &-line {
      margin-top: 60px;
    }

    &-copyright {
      margin-top: 0;
      padding: 36px 0;
      & img {
        display: none;
      }
    }

    &-img-mobile {
      display: block;
    }
  }
}

.access {
  position: fixed;
  right: 10px;
  top: 80%;

  &-wrapper {
    display: block;
    width: 50px;
    height: 50px;
  }

  &-btn-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
  }

  &-checkbox {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    left: 0;
    z-index: 99;

    &:checked ~ .access-content {
      transform: scale(1);
      opacity: 1;
    }

    &:checked ~ .access-icon .access-icon-wrapper {
      background: rgba(13, 13, 13, 0.6);
    }

    &:checked ~ .access-icon .access-icon-wrapper .access-icon-btn::after {
      transform: translate(-50%, -50%) rotate(-135deg);
      border: 2px solid white;
      background: white;
    }

    &:checked ~ .access-icon .access-icon-wrapper .access-icon-btn::before {
      transform: translate(-50%, -50%) rotate(135deg);
      border: 2px solid white;
      background: white;
    }
  }

  &-icon {
    position: absolute;
    width: 100%;
    height: 100%;

    &-wrapper {
      display: block;
      border-radius: 50%;
      transition: all 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
      background-color: white;
      height: 100%;
      box-shadow: 2px 2px 2px grey;
    }

    &-btn {
      position: relative;
      display: block;
      margin: 0 auto;
      width: 100%;
      height: 100%;
      border: none;
      background: none;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 25px;
        transform: translate(-50%, -50%);
        border: 2px solid grey;
        background: grey;
        transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
      }

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 25px;
        transform: translate(-50%, -50%) rotate(90deg);
        border: 2px solid grey;
        background: grey;
        transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
      }
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    right: 80px;
    top: -250%;
    height: 200%;
    transition: 0.4s ease-in-out;
    background-color: bisque;
    width: 136px;
    transform: scale(0);
    opacity: 0;
    border-radius: 10px;
    padding: 5px;
    user-select: none;
    transition: ease 0.3s;

    & a {
      text-decoration: none;
      color: black;
      &:nth-child(-n + 2) {
        border-bottom: 1px solid grey;
      }

      &:hover {
        background-color: rgb(201, 163, 117);
      }
    }
  }
}
