.navbar {
  @include flex-row;
  gap: 50px;

  &-btn {
    background: transparent;
    border: none;
    color: var(--primary-color-wh);
    & a {
      cursor: pointer;
    }
  }

  &-item:hover {
    list-style: disc;
    color: var(--primary-color-wh);

    & a {
      opacity: 1;
    }
  }

  &-toggle {
    display: none;
  }
}

.header {
  &-images {
    margin-bottom: -5px;
  }

  &-line {
    max-width: 1600px;
  }

  &-logo {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(0, 78px);
  }

  &-top {
    @include flex-row;
    align-items: center;
    padding: 30px 0;
  }

  &-mid {
    @include flex-row;
    position: relative;
    margin-top: 130px;
    gap: 20px;
  }

  &-motto {
    @include flex-column;
    gap: 50px;

    &_img {
      margin-left: 90px;
    }

    &_title-down {
      margin-left: 140px;
    }
  }

  // UNDER 767PX

  @include maxw(767px) {
    // &-top {
    //   position: fixed;
    //   width: 100%;
    //   margin: 0 auto;
    // }
    .navbar {
      @include flex-column;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      gap: 90px;
      width: 300px;
      background-color: var(--primary-color-wh);
      z-index: 999;
      transform: translateX(100%);
      transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
      pointer-events: none;
      border-radius: 20px 0 20px 0;

      &.active {
        transform: translateX(0);
      }

      &-item {
        margin-right: auto;
        margin-left: 20px;
        &:hover {
          color: black;
        }
      }

      &-link {
        color: var(--primary-color-bl);
        font-size: 35px;
      }

      &-btn {
        @include flex-row;
      }

      &-toggle {
        background: transparent;
        border: none;
        width: 40px;
        height: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
        margin-left: 20px;
        cursor: pointer;

        & span {
          pointer-events: none;
          background-color: var(--primary-color-wh);

          &:nth-child(1) {
            width: 15px;
            height: 4px;
          }
          &:nth-child(2) {
            width: 30px;
            height: 4px;
          }
        }
      }
    }

    &-mid {
      @include flex-column;
      flex-direction: column-reverse;
      align-items: flex-start;
      margin-bottom: 57px;
    }

    &-images {
      @include flex-row;
      align-self: stretch;
      position: relative;
      margin-bottom: 80px;

      & img:nth-child(1) {
        align-self: stretch;
        max-width: 330px;
      }
    }

    &-logo {
      bottom: 30px;
      right: 0;
      left: auto;
      max-width: 150px;
      max-height: 188px;
      transform: none;
    }

    &-motto {
      align-items: flex-start;
      & h1 {
        font-size: 46px;
        line-height: calc(56 / 46);
      }

      & p {
        font-style: 18px;
      }

      & span,
      img,
      p {
        margin-left: 0;
      }
    }
  }
}
